body,ul,li,p{
  padding:0;
  margin:0;
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
  color:#8B8B8B;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5em;
  font-family: Arial,Tahoma,"hiragino sans gb",Helvetica;
  overflow: hidden;
}
.qqmusic{
  margin-top:-100px;
}
$imglists:(
'folded_bt':0 0,
'open_list':-222px -97px,
'btn_lyrics_disabled':-452px 0,
'icon_radio':-453px -55px,
'btn_like':0 -127px,
'btn_share':-16px -127px,
'prev_bt':-69px 0,
'prev_bt:hover':-69px -32px,
'next_bt':-147px 0,
'next_bt:hover':-147px -32px,
'play_bt':-105px 0,
'play_bt:hover':-105px -42px,
'pause_bt':-291px -88px,
'pause_bt:hover':-333px -88px,
'cycle_bt':-219px 0,
'cycle_bt:hover':-219px -32px,
'cycle_bt1':-376px -44px,
'cycle_bt1:hover':-376px -66px,
'cycle_single_bt':-255px 0,
'cycle_single_bt:hover':-255px -32px,
'cycle_single_bt1':-376px 0,
'cycle_single_bt1:hover':-376px -22px,
'unordered_bt':-327px -32px,
'unordered_bt:hover':-327px -60px,
'unordered_bt1':-408px -44px,
'unordered_bt1:hover':-408px -66px,
'ordered_bt1':-408px 0,
'ordered_bt1:hover':-408px -22px,
'ordered_bt':-291px -32px,
'ordered_bt:hover':-291px -60px,
'volume_icon':-189px -3px,
'volume_icon:hover':-189px -35px,
'volume_mute':-152px -63px,
'volume_mute:hover':-189px -63px,
'volume_regulate':-291px -11px,
'volume_bar':-291px 0,
'volume_op':-366px 0,
'close_lyrics':-503px 0,
'current i':-504px -28px,
'close_list':-269px -97px,
'btn_like:hover':0 -145px,
'btn_share:hover':-16px -145px,
'btn_fav':-64px -127px,
'btn_fav:hover':-64px -145px,
'btn_del':-48px -127px,
'btn_del:hover':-48px -145px,
'folded_bt2':-23px 0,
);
$tColor:black;
$touyin:3px 3px 6px rgba(0,0,0,0.42);
@mixin background() {
  background: url(../image/player_bg.png) no-repeat
}
@mixin position($pos){
  background-position: map-get($imglists,$pos);
}
.list_cp{
  width:142px;
  height:14px;
  text-align:right;
  display: none;
  position: absolute;
  top:4px;
  right:17px;
  strong{
    width:16px;
    height:15px;
    margin-right: 5px;
    display: inline-block;
    @include background;
    cursor: pointer;
  }
  .btn_like{
    @include position('btn_like');
    &:hover{
      @include position('btn_like:hover');
    }
  }
  .btn_share{
    @include position('btn_share');
    &:hover{
      @include position('btn_share:hover');
    }
  }
  .btn_fav{
    @include position('btn_fav');
    &:hover{
      @include position('btn_fav:hover');
    }
  }
  .btn_del{
    @include position('btn_del');
    &:hover{
      @include position('btn_del:hover');
    }
  }
}

.m_player .play_list_frame .single_list li:hover{
  background-color: #000;
  strong{
    color:#fff;
  }
  .play_time{
    display: none;
  }
  .list_cp{
    display: block;
  }
}
.playbar_cp_select{
  width:32px;
  padding:5px 0;
  background-color: #383838;
  position: absolute;
  left:376px;
  bottom:35px;
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0,0,0,.42);
  z-index: 12;
  display: none;
  strong{
    width:32px;
    height:22px;
    display: block;
    cursor: pointer;
    @include background;
  }
  .ordered_bt{
    @include position('ordered_bt1');
    &:hover{
      @include position('ordered_bt1:hover');
    }
  }
  .unordered_bt{
    @include position('unordered_bt1');
    &:hover{
      @include position('unordered_bt1:hover');
    }
  }
  .cycle_single_bt{
    @include position('cycle_single_bt1');
    &:hover{
      @include position('cycle_single_bt1:hover');
    }
  }
  .cycle_bt{
    @include position('cycle_bt1');
    &:hover{
      @include position('cycle_bt1:hover');
    }
  }
}
.time_show{
  width:50px;
  height:24px;
  position: absolute;
  bottom:8px;
  left:0;
  z-index: 3;
  display: none;
  #time_show{
    height:17px;
    line-height: 17px;
    color:#fff;
    border:1px solid #666;
    background: #2f2f2f;
    font-size: 10px;
    text-align: center;
    font-family: Arial, Helvetica;
  }
  .icon_arrow_foot{
    width:13px;
    height:7px;
    position: relative;
    top:-1px;
    left:17px;
    display: block;
    overflow: hidden;
    .foot_border{
      border-width: 7px;
      border-color: #666 transparent transparent transparent ;
      border-style: solid dashed dashed dashed;
      position: absolute;
      top:-1px;
    }
    .foot_arrow{
      border-width: 5px;
      border-color: #2f2f2f transparent transparent transparent;
      border-style: solid dashed dashed dashed;
      position: absolute;
      top: -1px;
      left: 2px;
    }
  }
}
.m_player{
  width:563px;
  height:115px;
  position: fixed;
  left:0;
  bottom:10px;
  box-shadow:$touyin;
  border-radius: 4px;
  transition: left .4s linear;
  .m_player_dock{
    width:541px;
    height:115px;
    background-color: $tColor;
    position: relative;
    .music_icon{
      height:111px;
      .album_pic{
        display: block;
        width:90px;
        height:90px;
        margin:10px;
        float: left;
        overflow: hidden;
      }
      .music_info_main{
        font-family: tahoma;
        float: left;
        p{
          width:300px;
          height:20px;
          margin:5px 0;
        }
        .music_name{
          span{
            color:#fff;
            float: left;
            max-width: 210px;
            overflow: hidden;
          }
          .icon_radio{
            float: left;
            margin-left:10px;
            width:75px;
            height:20px;
            @include background;
            @include position('icon_radio');
          }
        }
        .singer_name{
          color:#828282;
          display: block;
          width:120px;
          overflow: hidden;
        }
        .play_date{
          color:#595959;
        }
        .music_op{
          strong{
            display: inline-block;
            width:16px;
            height:15px;
            margin-right: 2px;
            cursor: pointer;
          }
          .btn_like{
            @include background;
            @include position('btn_like');
          }
          .btn_share{
            @include background;
            @include position('btn_share');
          }
        }
      }
    }
  }
  .bar_op{
    position: absolute;
    top:43px;
    left:248px;
    width:280px;
    height:42px;
    strong{
      display: block;
      width:36px;
      height:28px;
      float: left;
      margin:7px 0 0 3px;
      cursor: pointer;
      @include background;
    }
    .prev_bt{
      @include position('prev_bt');
      &:hover{
        @include position('prev_bt:hover');
      }
    }
    .play_bt,.pause_bt{
      width:42px;
      height:42px;
      margin-top: 0;
    }
    .play_bt{
      @include position('play_bt');
      &:hover{
        @include position('play_bt:hover')
      }
    }
    .pause_bt{
      @include position('pause_bt');
      &:hover{
        @include position('pause_bt:hover');
      }
    }
    .next_bt{
      @include position('next_bt');
      &:hover{
        @include position('next_bt:hover');
      }
    }
    .cycle_bt{
      @include position('cycle_bt');
      &:hover{
        @include position('cycle_bt:hover');
      }
    }
    .ordered_bt{
      @include position('ordered_bt');
      &:hover{
        @include position('ordered_bt:hover');
      }
    }
    .unordered_bt{
      @include position('unordered_bt');
      &:hover{
        @include position('unordered_bt:hover');
      }
    }
    .cycle_single_bt{
      @include position('cycle_single_bt');
      &:hover{
        @include position('cycle_single_bt:hover');
      }
    }
    .volume{
      display:block;
      width:100px;
      height:24px;
      float: left;
      margin:10px 0 0 8px;
      .volume_icon,.volume_mute{
        display:inline-block;
        width:24px;
        height:24px;
        cursor: pointer;
        vertical-align: -7px;
        @include background();
      }
      .volume_icon{
        @include position('volume_icon');
        &:hover{
          @include position('volume_icon:hover');
        }
      }
      .volume_mute{
        @include position('volume_mute');
        &:hover{
          @include position('volume_mute:hover');
        }
      }
    }
    .volume_regulate{
      display: inline-block;
      width:71px;
      height:11px;
      position: relative;
      cursor: pointer;
      @include background;
      @include position('volume_regulate');
      .volume_bar{
        font-size: 0;
        width:100%;
        height:11px;
        display: inline-block;
        position: absolute;
        @include background();
        @include position('volume_bar');
      }
      .volume_op{
        width:6px;
        height:11px;
        position: absolute;
        top:0;
        left:100%;
        @include background;
        @include position('volume_op');
      }
    }
  }
  .play_bar{
    width:541px;
    height:4px;
    position: absolute;
    bottom:0;
    left:0;
    span{
      height:4px;
      position: absolute;
      bottom:0;
      left:0;
      cursor: pointer;
    }
    .play_bg_bar{
      width:100%;
      background-color: #323232;
      z-index: 1;

    }
    .download_bar{
      background-color: #2c4838;
      z-index: 2;
    }
    .play_current_bar{
      background: #0cc65b;
      z-index: 3;
    }
    .progress_op{
      width:7px;
      height:6px;
      z-index: 3;
      top:-1px;
      background: url('../image/progress_op.png') no-repeat;
    }
  }
  .folded_bt{
    width:22px;
    height:115px;
    position: absolute;
    top:0;
    right:0;
    @include background;
    @include position('folded_bt');
    outline: none;
    border:none;
  }
  .play_list_frame{
    width:541px;
    height:500px;
    position: absolute;
    top:-500px;
    left:0;
    background-color:lighten($tColor,11);
    box-shadow: $touyin;
    .play_list_title{
      background-color: #000;
      height:52px;
      position: relative;
      z-index: 2;
      ul li{
        float: left;
        position: relative;
        a{
          float: left;
          color:#fff;
          font-size: 18px;
          font-family: '微软雅黑';
          height:52px;
          line-height: 52px;
          padding:0 20px;
        }
      }
      .current{
        background-color: #262626;
        i{
          display: block;
          width: 15px;
          height: 8px;
          position: absolute;
          left: 50%;
          margin: 0 0 0 -7px;
          top: 52px;
          @include background;
          @include position('current i');
        }
      }
    }
    .clear_list{
      color:#999;
      position: absolute;
      right:31px;
      top:18px;
      cursor:pointer;
      z-index: 2;
    }
    .close_list{
      display: inline-block;
      width:20px;
      height:20px;
      position: absolute;
      top:3px;
      right:7px;
      cursor: pointer;
      @include background();
      @include position('close_list');
      z-index: 2;
    }
    .play_list{
      height:455px;
      border-top: 1px solid #262626;
      overflow: hidden;
    }
    .play_list_main{
      width:529px;
      height:800px;
    }
    .single_list li{
      height:23px;
      margin:2px 0 3px;
      padding-left: 20px;
      position: relative;
      border-top: 1px solid #1b1b1b;
      &.play_current strong{
        color:#0cc65b;
      }
      strong{
        color:#595959;
        font-weight: normal;
        line-height: 24px;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        vertical-align: top;
      }
      .music_name{
        width:254px;
      }
      .singer_name{
        width:180px;
        position: absolute;
        top:0;
        left:290px;
      }
      .play_time{
        width:34px;
        position: absolute;
        top:0;
        right:17px;
      }
    }
  }
  .y_player_lyrics{
    width:249px;
    height:115px;
    position: absolute;
    top:0;
    right:-250px;
    background-color: lighten($tColor,11);
    box-shadow:$touyin;
    border-radius: 4px;
    display: none;
    .lyrics_text{
      height:95px;
      padding:10px;
      color:#f5f5f5;
      text-align: center;
      overflow: hidden;
      font-family: '微软雅黑';
      line-height: 24px;
      p{
        height:24px;
      }
      .current{
        color: #0cc65b;
      }
    }
    .close_lyrics{
      display: block;
      width:8px;
      height:8px;
      position: absolute;
      right:8px;
      top:9px;
      cursor: pointer;
      @include background;
      @include position('close_lyrics');
    }
  }
  .open_list{
    width:47px;
    height:28px;
    position: absolute;
    top:0;
    right:61px;
    @include background;
    @include position('open_list');
    cursor: pointer;
    span{
      width:24px;
      height:28px;
      color:#fff;
      font-family: tahoma;
      font-size: 14px;
      line-height: 28px;
      margin-left:23px;
      text-align: center;
      display: block;
    }
  }
  .btn_lyrics_disabled{
    width:14px;
    height:14px;
    display: block;
    position: absolute;
    top:7px;
    right:37px;
    @include background;
    @include position('btn_lyrics_disabled');
    cursor: pointer;
  }
}
.m_player_folded .folded_bt{
  @include position('folded_bt2');
}
