.poster-main{position:relative;width:800px;height:234px;margin:0px auto;visibility:hidden;}
.poster-main.done{visibility:visible;}
.poster-main a,.poster-main img{display: block;border:0px}
.poster-main .poster-list{width:800px;height: 234px;list-style:none;}
.poster-main .poster-btn{
    position:absolute;
    height: 234px;
    width:100px;
    top:0;
    z-index:10;
    opacity:.5;
    color:black;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity .3s; 
}
.poster-main .poster-btn:hover{
    opacity:.8;
    transition: opacity .3s; 
}
.poster-main .poster-item{position:absolute;left:0;top:0;}
.poster-main .poster-left-btn{
    left:0;
    background-image: url('../images/arrow-left.png');
}
.poster-main .poster-right-btn{
    right:0;
    background-image: url('../images/arrow-right.png');
}
